*{
  margin-left: 10px;
  margin-right: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
}

body {
  font-family: "Roboto Condesed", sans-serif;
  background-image: url("../src/img/pexels-photo-2047905.jpeg");
  
  /* background-size: cover; */
  background-position-x: center;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
} 

/*------ Menu Links ------*/
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}


.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/*------ Header ------*/

.header-wraper {
  position: relative;
  margin-top: 30px;
}


.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  
}

.main-info > a {
  color: var(--primary-orange);
}


/*------ Tyed Text ------*/

.type-text {
  font-size: 2rem;
  color: var(--primary-white);
  margin-top: 100px;
}




/* // =========================== CONTACT ================================ */

.contact-form {
  background-color: gray;
  /* width: 350px; */
  border-radius: 10px;
  padding: 20px;
  /* margin: 200px 700px; */
  /* opacity: 0.5; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 20%;

}

/* .contact-form:hover {
  opacity: 0.75;
} */

.contact-fieldset {
  /* border-radius: 10px; */
  border: .5px solid black;
  margin: 10px 0px;
}

.contact-fieldset > a {
  color: var(--primary-orange);
  display: flex;
  justify-content: center;
}

.connect {
  display: flex;
  justify-content: center;
}

.contact-input {
  height: 40px;
  width: 277px;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;

  
}

.contact-textarea {
  max-width: 277px;
  min-width: 277px;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;

 
}

.jump-container {
  display: flex;
  justify-content: center;
  width: 350px;
}



/*------ Social Media ------*/


.socials {
  background-color: #ff5e00;
  width: 150px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 10px;
  position: relative;
  top: -550px;
  float: right;
  opacity: 0.50;
}


.socials:hover {
  opacity: 0.75;
}




/*------ About ------*/


.about {
  /* background-color: gray; */
  width: auto;
  /* border-radius: 10px; */
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 130px; */
  /* width: 50%; */

  color: #fff;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-about > img {
  max-width: 50%;
  padding: 60px 10px 15px 20px;
  float: right;
  

}

.about-btns > a {
  color: var(--primary-orange);
}

.about-btns {
  /* text-decoration: #ff5e00; */
}


.about-para {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  padding-left: 100px;
}

/*------ Projects ------*/

.card-img-top{
  opacity: 0.50;
}


.card-img-top:hover {
  opacity: 1;
}



.card-group{
  /* padding-top: 10px; */
  /* display: grid;
  grid-template-columns: 2fr; */
}

.card {
  overflow: hidden;
  border: 1px solid;
  /* padding: 10px; */
  box-shadow: 5px 5px 5px 2px #888888;
  
}


.card-body > a {
  color: var(--primary-orange);
  
  /* position:absolute;
  bottom:0; */
}

.btn-1{
  position:absolute;
  right: 0;
  bottom:0;
  text-decoration: none;
  
}
.btn-2 {
  position:absolute;
  bottom:0;
  text-decoration: none;
  
  
  
}

.header{
  padding: 50px;
  color: var(--primary-orange);
  display: flex;
  justify-content: center;
}


.card-body > .btn-2 {
  /* margin-left: none; */
  
}

.card-text {
  padding-bottom: 100px;
}

