@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
}

body {
  font-family: "Roboto Condesed", sans-serif;
  background-image: url("../src/img/pexels-photo-2047905.jpeg");
  
  /* background-size: cover; */
  background-position-x: center;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
} 

/*------ Menu Links ------*/
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}


.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/*------ Header ------*/

.header-wraper {
  position: relative;
}


.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  
}


/*------ Tyed Text ------*/

.type-text {
  font-size: 2rem;
  color: var(--primary-white);
}




/* // =========================== CONTACT ================================ */

.contact-form {
  background-color: #ff5e00;
  width: 350px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 300px;
  /* opacity: 0.5; */

}

/* .contact-form:hover {
  opacity: 0.75;
} */

.contact-fieldset {
  /* border-radius: 10px; */
  border: .5px solid black;
  margin: 10px 0px;
}

.contact-input {
  height: 40px;
  width: 277px;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;

  
}

.contact-textarea {
  max-width: 277px;
  min-width: 277px;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;

 
}

.jump-container {
  display: flex;
  justify-content: center;
  width: 350px;
}



/*------ Social Media ------*/


.socials {
  background-color: #ff5e00;
  width: 150px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 10px;
  position: relative;
  top: -550px;
  float: right;
  opacity: 0.50;
}


.socials:hover {
  opacity: 0.75;
}




/*------ About ------*/


.about {
  background-color: #ff5e00;
  width: 350px;
  border-radius: 10px;
  padding: 40px;
  margin: 10px 300px;
  opacity: 0.5;
}








/* .card {
  opacity: 0.70;
}


.card:hover {
  opacity: 1;
} */


.card-img-top{
  opacity: 0.40;
}


.card-img-top:hover {
  opacity: 1;
}